<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о водителе</title>
</head>
<body>
<h1>Информация о водителе</h1>
<div>
    <p><strong>Имя:</strong> <span th:text="${driverInfo.name}"></span></p>
    <p><strong>Телефон:</strong> <span th:text="${driverInfo.phone}"></span></p>

    <!-- Сообщение о том, что заказа нет -->
    <p><strong>Сообщение:</strong> <span th:text="${driverInfo.message}"></span></p>
</div>

<a href="/driver/login">Вернуться на страницу логина</a>
</body>
</html>
